*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}
.main{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 6vw 1fr;
    grid-template-rows: 10vh 1fr;
    grid-template-areas: "sidebar navbar" "sidebar content";
}
.sidebar{
    grid-area: sidebar;
}
.content{
    grid-area: content;
    background-color: white;
    height: 90vh;
    width: calc(100vw - 6vw);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: auto;
}
.notesfolder{
    height: 100%;
    width: 100%;
    background-color: black;
}
.content1{
    background-color: green;
    height: auto;
    width: calc(100vw - 6vw);
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(350px,1fr));
    column-gap: 15px;
    row-gap: 10px;
    justify-items: center;
    justify-content: center;
}
.navbar{
    grid-area: navbar;
    height: 150px;
    width: calc(100vw - 6vw);
    background-color: black;
}
.card{
    height: 580px;
    width: 425px;
    margin-top: 32px;
    border: 4px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    transition: height 2s linear;
    position: relative;
}
.cardtop{
    height: 50%;
    background-color: #10E7FF;
    width: 100%;
    clip-path: polygon(0% 0%,100% 0%,100% 85%,85% 85%,78% 100%,20% 100%,15% 85%,0% 85%);
    transition: height 2s linear;
    z-index: 1;
    color: white;
}
.cardbottom{
    /* height: 20%; */
    height: 50%;
    width: 100%;
    background-color: #11142D;
    clip-path: polygon(0% 0%,15% 0%,20% 20%,80% 20%,85% 0%,100% 0%,100% 100%,0% 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height 2s linear;
    z-index: 1;
}
.cardbottom .cardbtn{
    margin-top: 8%;
    padding: 13px 25px;
    border-radius: 25px;
    border: 4px dashed white;
    background-color: black;
    color: white;
    font-size: 18px;
}
.active{
    justify-content: space-between;
    height: 580px;
}
.active .cardtop{
    height: 25%;
}
.active .cardbottom{
    height: 20%;
}
.notescontent{
    position: absolute;
    top:40%;
    height: 250px;
    width: 85%;
    background-color: #F5F2FF;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border: 5px solid black;
    transition: transform 0.5s;
}
.notescontent:nth-child(4){
    border: 5px solid black;
    top:35%;
    background-color: red;
    transform: rotate(-10deg);
}
.notescontent:nth-child(3){
    border: 5px solid black;
    top:30%;
    background-color: gray;
    transform: rotate(10deg);
}
.notescontent:nth-child(2){
    border: 5px solid black;
    top:25%;
    background-color: aquamarine;
    transform: rotate(5deg);
}
.notescontent:hover{
    transform: translateY(-25px);
    cursor: pointer;
}
.cardbtn:hover{
    cursor: pointer;
}
.creatingfolder{
    height: 100%;
    width: 100%;
    /* background-color: red; */
}