*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.main{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 8vw 1fr;
    grid-template-rows: 10vh 1fr;
    grid-template-areas: "sidebar navbar" "sidebar content";
}
.sidebar{
    grid-area: sidebar;
}
.content{
    grid-area: content;
    /* background-color: violet; */
    min-height: 90vh;
    width: calc(100vw - 8vw);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    scrollbar-width: none;
    display: grid;
    grid-column: repeat(auto-fit,minmax(250px,1fr));
}
.notesfoldernone{
    display: none;
}
.notesfolder{
    height: 350px;
    /* background-color: #CC0000; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.creatingfolder{
    height: 100%;
    width: 50%;
    background-color: #CC0000;
    border: 5px solid #FFAA00;
    border-top-color:#FFAA00 ;
    border-top-width: 5px;
    border-top-style:solid ;
    position: relative;
    left:50px;
}
.creatingfiles{
    height: 100%;
    width: 50%;
    /* background-color: #CC0000; */
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* border: 5px solid #FFE000; */
    /* border-top-color:#FFE000 ; */
    border-top-width: 5px;
    border-top-style:solid ;
    position: relative;
    left:5%;
    top:3%;
}
.content1{
    width: calc(100vw - 8vw);
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(350px,1fr));
    column-gap: 15px;
    row-gap: 10px;
    justify-items: center;
    justify-content: center;
}
.navbar{
    grid-area: navbar;
    height: 75px;
    width: calc(100vw - 8vw);
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navmain{
    width: calc(100vw - 10vw);
    height: 65px;
    border: 5px solid #FFE000;
}
.card{
    height: 580px;
    width: 425px;
    border: 4px solid #FFE000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    transition: height 2s linear;
    position: relative;
    top:5%;
}
.cardtop{
    height: 50%;
    background-color: #CC0000;
    width: 100%;
    clip-path: polygon(0% 0%,100% 0%,100% 85%,85% 85%,78% 100%,20% 100%,15% 85%,0% 85%);
    transition: height 2s linear;
    z-index: 1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardtoph1{
    text-transform: uppercase;
    font-size: 2.5rem;
}
.cardbottom{
    height: 50%;
    width: 100%;
    background-color: #CC0000;
    clip-path: polygon(0% 0%,15% 0%,20% 20%,80% 20%,85% 0%,100% 0%,100% 100%,0% 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height 2s linear;
    z-index: 1;
}
.cardbottom .cardbtn{
    margin-top: 8%;
    padding: 13px 25px;
    border-radius: 25px;
    border: 4px dashed white;
    background-color: black;
    color: white;
    font-size: 18px;
}
.active{
    justify-content: space-between;
    height: 580px;
}
.active .cardtop{
    height: 25%;
}
.active .cardbottom{
    height: 20%;
}
.notescontent{
    position: absolute;
    top:40%;
    height: 250px;
    width: 85%;
    background-color: #F5F2FF;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border: 5px solid black;
    transition: transform 0.5s;
}
.notescontent:nth-child(4){
    border: 5px solid black;
    top:35%;
    background-color: red;
    transform: rotate(-10deg);
}
.notescontent:nth-child(3){
    border: 5px solid black;
    top:30%;
    background-color: gray;
    transform: rotate(10deg);
}
.notescontent:nth-child(2){
    border: 5px solid black;
    top:25%;
    background-color: aquamarine;
    transform: rotate(5deg);
}
.notescontent:hover{
    transform: translateY(-25px);
    cursor: pointer;
}
.cardbtn:hover{
    cursor: pointer;
}
.notesmain{
    padding:20px 20px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 10px;
    position: absolute;
    left: 15%;
    background-color: #CC0000;
}
.notetop{
    height: 75px;
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */
}
.notestcontentuser{
    /* border: 1px solid black; */
    background-color: beige;
    height: 175px;
    width: 450px;
    position: relative;
}
.notetitle{
    position: relative;
    height: 85%;
    width: 70%;
    clip-path: polygon(0% 0%,100% 0%,90% 100%,10% 100%);
    border: none;
    padding-left: 40px;
    font-size: 25px;
    background-color: #FFAA00;
    color: white;
}
.notetitle::placeholder{
    color: white;
}
.notetitle:focus,.textarea:focus{
    outline: none;
}
.notescir{
    height: 100%;
    width: 75px;
    border-radius: 50%;
    background-color: #FFAA00;
}
.textarea{
    position: absolute;
    height: 100%;
    width: 100%;
    resize: none;
    background-color: #FFAA00;
    padding: 5px;
    letter-spacing: 1px;
    font-size: 20px;
    color:white;
}
.textarea::placeholder{
    color: white;
}