*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: antiquewhite;
}
.main{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 6vw 1fr;
    grid-template-rows: 10vh 1fr;
    grid-template-areas: "sidebar navbar" "sidebar content";
}
.sidebar{
    grid-area: sidebar;
}
.content{
    grid-area: content;
    background-color: antiquewhite;
    height: 90vh;
    width: calc(100vw - 6vw);
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    column-gap: 5px;
    row-gap: 10px;
    justify-items: center;
    overflow-y: auto;
}
.navbar{
    grid-area: navbar;
    height: 150px;
    width: calc(100vw - 6vw);
    background-color: black;
}
.card{
    height: 580px;
    width: 400px;
    margin-top: 32px;
    border: 4px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.cardtop{
    height: 25%;
    background-color: black;
    width: 100%;
    clip-path: polygon(0% 0%,100% 0%,100% 85%,85% 85%,78% 100%,20% 100%,15% 85%,0% 85%);
}
.cardbottom{
    height: 20%;
    width: 100%;
    background-color: black;
    clip-path: polygon(0% 0%,15% 0%,20% 20%,80% 20%,85% 0%,100% 0%,100% 100%,0% 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}