.sidebar{
    min-height: 100vh;
    /* padding-right: 10px; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: red;
}
.logo{
    height: 74px;
    width: 100%;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidele{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    height: 100px;
    width: 100%;
    margin-top: 20px;
}