.sidebar{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #CC0000;
    border-right: 5px solid #FFE000;
}
.logo{
    height: 74px;
    width: 100%;
    background-color: #FFE000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidele{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    height: 250px;
    width: 100%;
    margin-top: 20px;
}
.home{
    height: 70px;
    width: 100%;
    /* background-color: black; */
    background-color: transparent;
    border: none;
    font-size: 3rem;
}
.note{
    height: 70px;
    width: 100%;
    /* background-color: black; */
    background-color: transparent;
    border: none;
    font-size: 3rem;
}