.sidebar{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: black;
    /* border-right: 5px solid #FFE000; */
}
.logo{
    height: 74px;
    width: 100%;
    /* background-color: #FFE000; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidele{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    height: 250px;
    width: 100%;
    margin-top: 20px;
}
.home{
    height: 70px;
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 3rem;
    position: relative;
    /* background-color: #FFE000; */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 8px 8px 1px white;
    /* border: 2px solid #FFE000; */
    /* background-color: #CC0000; */
    background-color: #FFAA00;
    transition: all 0.7s;
}
.note{
    height: 70px;
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 8px 8px 1px white;
    /* border: 2px solid #FFE000; */
    background-color: #FFAA00;
    transition: all 0.7s;
}
.home:hover,.note:hover{
    box-shadow: 6px 6px 1px white;
}